<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>controller.ServletLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAnnexe</servlet-name>
    <servlet-class>controller.ServletAnnexe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletRole</servlet-name>
    <servlet-class>controller.ServletRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletUtilisateur</servlet-name>
    <servlet-class>controller.ServletUtilisateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletMouvements</servlet-name>
    <servlet-class>controller.ServletMouvements</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletBanque</servlet-name>
    <servlet-class>controller.ServletBanque</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletColonnes</servlet-name>
    <servlet-class>controller.ServletColonnes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletRubrique</servlet-name>
    <servlet-class>controller.ServletRubrique</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletSerieBq</servlet-name>
    <servlet-class>controller.ServletSerieBq</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletSerieChrono</servlet-name>
    <servlet-class>controller.ServletSerieChrono</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletVariations</servlet-name>
    <servlet-class>controller.ServletVariations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAnnexe</servlet-name>
    <url-pattern>/servletannexe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletRole</servlet-name>
    <url-pattern>/servletrole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUtilisateur</servlet-name>
    <url-pattern>/servletutilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletMouvements</servlet-name>
    <url-pattern>/servletmouvements</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/servletlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletBanque</servlet-name>
    <url-pattern>/servletbanque</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletColonnes</servlet-name>
    <url-pattern>/servletcolonnes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletRubrique</servlet-name>
    <url-pattern>/servletrubrique</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletSerieBq</servlet-name>
    <url-pattern>/servletseriebq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletSerieChrono</servlet-name>
    <url-pattern>/servletseriechrono</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletVariations</servlet-name>
    <url-pattern>/servletvariations</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/PageFormLogin.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/PageFormLogin.jsp</location>
  </error-page>
  <jsp-config/>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/PageFormLogin.jsp</form-login-page>
      <form-error-page>/WEB-INF/Error.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>